@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global base styles */
html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #000;
  color: #fefce8; /* match amber-50 tone */
}
